.idea
__pycache__/
*.DS_Store
*.pth
*.pt
*.mp4
*.npy
vis_results/
checkpoints/
logs/
slurm_logs/
submit*
logs*

/running
/datasets
/env.sh
/eular_log
/outputs
/wandb

*.rrd
*/*.rrd

duster 
*/duster
duster/*
duster


*.pkl
*.npz

rh20t_api
rh20t_api/
rh20t_api/*
*rh20t_api

rh20t_api
rh20t/
rh20t_api_cached
rh20t_api_cached/
rh20t_api_cached/*
*rh20t_api_cached
rh20t_api_cached

RH20T
RH20T/
RH20T/*
RH20T_cached
RH20T_cached/
RH20T_cached/*
*RH20T_cached

rh20t_api_safety
rh20t_api_safety/
rh20t_api_safety/*
*rh20t_api_safety
data
data/
!mvtracker/models/core/shape-of-motion/flow3d/data/

pytorch3d
pytorch3d/
pytorch3d/*

sam2
sam2/
sam2/*

create_sparse_depth_map_novel.py

spatialtrackerv2
spatialtrackerv2/
spatialtrackerv2/*

3DFlowAction
3DFlowAction/
3DFlowAction/*


data
data/
data/*
third_party
third_party/
third_party/*

example_data
example_data/
example_data/*

colmap
colmap/
colmap/*

data_example
data_example/
data_example/*

depth_cache
depth_cache/
depth_cache/*

colmap

_DATA


detectron2
detectron2/
detectron2/*

conversions/behave_converted
conversions/behave_converted/
conversions/behave_converted/*

point_clouds
point_clouds/
point_clouds/*

conversions/droid/debug/CalibrationExample.ipynb

.env

weights/groundingdino_swint_ogc.pth

*.out
*.err

test_data
test_data/
test_data/*

droid_downloads
droid_downloads/
droid_downloads/*