.idea
__pycache__/
*.DS_Store
*.pth
*.pt
*.mp4
*.npy
vis_results/
checkpoints/
logs/
slurm_logs/
submit*
logs*

/running
/datasets
/env.sh
/eular_log
/outputs
/wandb

*.rrd
*/*.rrd

duster 
*/duster
duster/*
duster


*.pkl
*.npz
