# Minimal dependencies
numpy
huggingface-hub
easydict
pandas
einops
opencv-python
matplotlib
seaborn
scikit-image
scikit-learn
pypng
kornia
flow-vis
moviepy
mediapy
rerun-sdk
open3d
transforms3d
ipdb
torch
tqdm
PyYAML
kinpy
urdf_parser_py
pycolmap
alive_progress
ipython
librosa
pynput
scipy
Pillow
pybullet
gdown
h5py
pytransform3d
transformers
supervision
yapf
pycocotools
timm
openai
python-dotenv